<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form class="myForm" action="order2" method="post">
<h1>Order a Pet</h1>
        <label>What kind of pet would like to order
            <input type="text" name="animal" placeholder="petType">
        </label>

        <label>Select a Pet
            <input type="text" name="animal" placeholder="petType">
        </label>
    </form>

</div>
</body>
</html>